<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main" class="w-full h-screen  bg-black text-white p-10">

        <div class="file h-[30rem] w-[30rem] flex justify-center item-center text-center flex-col  bg-slate-700 p-10 rounded-md">
            <h2><%=data%></h2>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    
</body>
</html>